<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @shop.firstname %>
</p>

<p>
  <b>Secondname:</b>
  <%= @shop.secondname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @shop.lastname %>
</p>

<p>
  <b>Title:</b>
  <%= @shop.title %>
</p>

<p>
  <b>Workphone:</b>
  <%= @shop.workphone %>
</p>

<p>
  <b>Owncellphone:</b>
  <%= @shop.owncellphone %>
</p>

<p>
  <b>Workcellphone:</b>
  <%= @shop.workcellphone %>
</p>

<p>
  <b>Email:</b>
  <%= @shop.email %>
</p>

<p>
  <b>Icq:</b>
  <%= @shop.icq %>
</p>

<p>
  <b>Description:</b>
  <%= @shop.description %>
</p>

<p>
  <b>Reception:</b>
  <%= @shop.reception %>
</p>

<p>
  <b>Fax:</b>
  <%= @shop.fax %>
</p>

<p>
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Contract:</b>
  <%= @shop.contract %>
</p>

<p>
  <b>Okpo:</b>
  <%= @shop.okpo %>
</p>

<p>
  <b>Tgnl:</b>
  <%= @shop.tgnl %>
</p>

<p>
  <b>Scancontract:</b>
  <%= @shop.scancontract %>
</p>

<p>
  <b>Station:</b>
  <%= @shop.station %>
</p>

<p>
  <b>Railway:</b>
  <%= @shop.railway %>
</p>

<p>
  <b>Postaddress:</b>
  <%= @shop.postaddress %>
</p>

<p>
  <b>Legaladdress:</b>
  <%= @shop.legaladdress %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
