<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @railway.firstname %>
</p>

<p>
  <b>Secondname:</b>
  <%= @railway.secondname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @railway.lastname %>
</p>

<p>
  <b>Phone:</b>
  <%= @railway.phone %>
</p>

<p>
  <b>Phone2:</b>
  <%= @railway.phone2 %>
</p>

<p>
  <b>Name:</b>
  <%= @railway.name %>
</p>


<%= link_to 'Edit', edit_railway_path(@railway) %> |
<%= link_to 'Back', railways_path %>
