<%- model_class = Railway -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:firstname) %>:</strong></dt>
  <dd><%= @railway.firstname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:secondname) %>:</strong></dt>
  <dd><%= @railway.secondname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lastname) %>:</strong></dt>
  <dd><%= @railway.lastname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @railway.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone2) %>:</strong></dt>
  <dd><%= @railway.phone2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @railway.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              railways_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_railway_path(@railway), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              railway_path(@railway),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
