<%= form_for @company, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :firstname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firstname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :secondname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :secondname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lastname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lastname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :workphone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :workphone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :owncellphone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :owncellphone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :workcellphone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :workcellphone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :icq, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :icq, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reception, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reception, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fax, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fax, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contract, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contract, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t(:okpo, :default => t(:okpo)), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :okpo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :scancontract, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :scancontract, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :postaddress, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postaddress, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :legaladdress, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :legaladdress, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                companies_path, :class => 'btn' %>
  </div>
<% end %>
