<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @company.firstname %>
</p>

<p>
  <b>Secondname:</b>
  <%= @company.secondname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @company.lastname %>
</p>

<p>
  <b>Title:</b>
  <%= @company.title %>
</p>

<p>
  <b>Workphone:</b>
  <%= @company.workphone %>
</p>

<p>
  <b>Owncellphone:</b>
  <%= @company.owncellphone %>
</p>

<p>
  <b>Workcellphone:</b>
  <%= @company.workcellphone %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Icq:</b>
  <%= @company.icq %>
</p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>

<p>
  <b>Reception:</b>
  <%= @company.reception %>
</p>

<p>
  <b>Fax:</b>
  <%= @company.fax %>
</p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Contract:</b>
  <%= @company.contract %>
</p>

<p>
  <b>Okpo:</b>
  <%= @company.okpo %>
</p>

<p>
  <b>Scancontract:</b>
  <%= @company.scancontract %>
</p>

<p>
  <b>Postaddress:</b>
  <%= @company.postaddress %>
</p>

<p>
  <b>Legaladdress:</b>
  <%= @company.legaladdress %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
